/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

/* Logo */
.logo{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.logo h2{
    color: #0D1B2A;
    margin: 0;
    line-height: 1.1;
}

/* Menu */
.menu{
    display: flex;
    list-style: none;
    gap: 35px;
}

.menu a{
    text-decoration: none;
    color: #575757;
    font-size: 18px;
}

/* Button */
.btn{
    text-decoration: none;
    background: #1D4ED8;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
}

/* Hero Section */
.hero{
    background-image: url("./image/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0 20px;
}

.hero-content h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-content p{
    width: 700px;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 100px;
}

.hero-content em{
    font-style: italic;
}

/* Speaker Section  */
.speakers{
    padding:80px 8%;
    background:#f8f9fc;
}

.speakers h2{
    text-align:center;
    font-size:42px;
    margin-bottom:40px;
}

.speaker-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.card{
    background:#fff;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 4px 12px rgba(0,0,0,.1);
    transition:.3s;
    cursor:pointer;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 12px 25px rgba(0,0,0,.15);
}

.card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.card span{
    display:block;
    margin:15px 20px 5px;
    color:#2563eb;
    font-size:12px;
    font-weight:bold;
    text-transform:uppercase;
}

.card h3{
    margin:0 20px 8px;
    font-size:22px;
}

.card p{
    margin:0 20px 20px;
    color:#666;
    font-size:14px;
    line-height:1.6;
}

/*Tech Innovation Showcase*/

.innovation{
    padding:90px 80px;
    background:#111827;
    color:#fff;
    text-align:center;
}

.innovation-heading h2{
    font-size:42px;
    margin-bottom:20px;
}

.innovation-text{
    max-width:760px;
    margin:0 auto 60px;
    color:#d1d5db;
    line-height:1.8;
    font-size:17px;
}

.innovation-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
    margin-bottom:60px;
}

.innovation-card{
    background:#1f2937;
    border:1px solid rgba(255,255,255,.08);
    border-radius:18px;
    padding:35px 25px;
    transition:.35s;
}

.innovation-card:hover{
    transform:translateY(-10px);
    background:#374151;
    box-shadow:0 15px 30px rgba(91,91,214,.25);
}

.innovation-icon{
    width:75px;
    height:75px;
    margin:0 auto 20px;
    border-radius:50%;
    background:linear-gradient(135deg,#5B5BD6,#7C3AED);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:36px;
}

.innovation-card h3{
    font-size:26px;
    margin-bottom:15px;
}

.innovation-card p{
    color:#d1d5db;
    line-height:1.8;
    font-size:15px;
}

.innovation-btn{
    display:inline-block;
    text-decoration:none;
    background:linear-gradient(135deg,#5B5BD6,#7C3AED);
    color:#fff;
    padding:16px 38px;
    border-radius:50px;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}

.innovation-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(91,91,214,.35);
}

/*Pricing Section*/
.pricing{
    padding:80px 8%;
    background:#ffffff;
    text-align:center;
}

.pricing h2{
    font-size:42px;
    color:#222;
    margin-bottom:10px;
}

.pricing-text{
    font-size:16px;
    color:#666;
    margin-bottom:50px;
}

.pricing-container{
    display:flex;
    justify-content:center;
    gap:30px;
}

.price-card{
    width:320px;
    background:#fff;
    padding:30px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,.1);
    text-align:left;
    transition:.3s;
}

.price-card:hover{
    transform:translateY(-10px);
    box-shadow:0 12px 25px rgba(0,0,0,.15);
}

.price-card h4{
    font-size:14px;
    color:#666;
    margin-bottom:15px;
    text-transform:uppercase;
}

.price-card h1{
    font-size:48px;
    color:#222;
    margin-bottom:10px;
}

.price-info{
    color:#888;
    margin-bottom:25px;
    font-size:14px;
}

.price-card ul{
    list-style:none;
    margin-bottom:30px;
}

.price-card li{
    margin:15px 0;
    color:#444;
    font-size:15px;
}

.price-btn{
    display:block;
    text-align:center;
    text-decoration:none;
    background:#1D4ED8;
    color:white;
    padding:12px;
    border-radius:8px;
    font-weight:600;
}

.price-btn:hover{
    background:#1742b8;
}

/* Featured (Middle) Card */

.active{
    background:#0D1B2A;
    color:white;
    transform:scale(1.05);
}

.active h4,
.active h1,
.active p,
.active li{
    color:white;
}

.active .price-btn{
    background:#2563EB;
}

.active .price-btn:hover{
    background:#1D4ED8;
}